{% extends 'Medecin/medecin.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">Liste of Medical Records</h2>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">Home </li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Medical Record</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-end">
                    <a href="{% url 'create_dossier_medical' %}" class="btn btn-primary mr-1 ">New Record</a>    
                
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                
        </div>

<div class="table-responsive">
<table id="zero_config" class="table border table-striped table-bordered text-nowrap">
                        
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Employee Name</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in dossiers %}
                        <tr>
                            <td>{{ i.numero }}</td>
                            <td>{{ i.patient.name }}</td>
                            
                            <!-- Add conditional formatting to display status in red if expired -->
                           
                            <td>
                                <a href="{% url 'view_info' i.pk %}" class="btn btn-sm btn-info">View</a>

                                <a href="{% url 'update_dossier_medical' i.pk %}" class="btn btn-sm btn-success">Edit</a>
                                <a href="{% url 'delete_dossier_medical' i.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Confirmation?')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
