{% extends 'infirmier/infirmier.html' %}
{% block content %}
{%load static%}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Add New Medicine To The  Stock</h3>
                  <div class="nk-block-des text-soft">
                                    <p>You can add new medicine by filling out these fields.</p>
                 </div>
            </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                <form method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6"> 
                                                <label class="form-label" for="{{ form.N_lot.id_for_label }}">N°lot :</label>
                                                <div class="form-group mb-4">
                                                    <input type="text"name="N_lot" class="form-control"
                                                        placeholder="N°lot ">
                                                </div>
                                                <label class="form-label" for="{{ form.quantity.id_for_label }}">Quantity</label>
                                                <div class="form-group mb-4">
                                                    <input type="number" name="quantity"class="form-control"
                                                        placeholder="Quantity ">
                                                </div>
                                                <label class="form-label " for="{{ form.expiration_date.id_for_label }}">Expiration Date :</label>
                                                <div class="form-group mb-4">
                                                    <input type="date" name="expiration_date"class="form-control"placeholder="Expiration Date">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="{{ form.name.id_for_label }}">Name :</label>
                                                <div class="form-group mb-4">
                                                    <input type="text" name="name" class="form-control"
                                                        placeholder="Name ">
                                                </div>
                                                
                                                <label class="form-label" for="{{ form.reception_date.id_for_label }}">Reception Date :</label>
                                                <div class="form-group mb-4">
                                                    <input type="date" name="reception_date" class="form-control"
                                                        placeholder="Reception Date ">
                                                </div>
                                                <label class="form-label" for="{{ form.dosage.id_for_label }}">Dosage :</label>
                                                <div class="form-group mb-4">
                                                    <input type="text" name="dosage" class="form-control"
                                                        placeholder="Dosage 500mg ">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                
                                                <label class="form-label" for="{{ form.presentation.id_for_label }}">Presentation :</label>
                                                <div class="form-group mb-9">
                                                    <textarea class="form-control" name="presentation"placeholder="Presentation" rows="4"></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    <div class="form-actions">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-info">Add</button>
                                            <button type="reset"  class="btn btn-dark"><a href="{% url 'medicines' %}" class="text-white">Reset</a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
 </div>   
{%endblock%}

