{% extends user.template_name %} 
{%block content%}
{% load static %}

<div class="page-wrapper">
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title page-title">Update : {{ patient.name|upper }}</h2>
                                <div class="nk-block-des text-soft">
                                    <p>You can update Patient information by changing these fields.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="row gy-5">
                                    <h3 class="text-center">{{ msg }}</h3>
                                    <form method="POST" enctype="multipart/form-data"
                                          action="{% url 'update_patient' patient.pk %}">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label class="form-label" for="{{ form.name.id_for_label }}">Name :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="name" class="form-control"
                                                               placeholder="Name" value="{{ patient.name }}">
                                                    </div>
                                                    <label class="form-label" for="{{ form.date_of_birth.id_for_label }}">Date of Birth :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="date" name="date_of_birth" class="form-control"
                                                               placeholder="Date of Birth"
                                                               value="{{ patient.date_of_birth |date:'Y-m-d'}}">
                                                    </div>
                                                    <label class="form-label" for="{{ form.age.id_for_label }}">Age :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="number" name="age" class="form-control"
                                                               placeholder="Age" value="{{ patient.age }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <label class="form-label" for="{{ form.origin.id_for_label }}">Origin :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="origin" class="form-control"
                                                               placeholder="Origin" value="{{ patient.origin }}">
                                                    </div>
                                                    <label class="form-label" for="{{ form.address.id_for_label }}">Address :</label>
                                                    <div class="form-group mb-3">
                                                        <textarea class="form-control" name="address"
                                                                  placeholder="Address" rows="3">{{ patient.address }}</textarea>
                                                    </div>
                                                    <label class="form-label" for="{{ form.family_status.id_for_label }}">Family Status :</label>
                                                    <div class="form-group mb-3">
                                                        <select name="family_status" class="form-control">
                                                            <option value="single" {% if patient.family_status == 'single' %}selected{% endif %}>Single</option>
                                                            <option value="married" {% if patient.family_status == 'married' %}selected{% endif %}>Married</option>
                                                            <option value="divorced" {% if patient.family_status == 'divorced' %}selected{% endif %}>Divorced</option>
                                                            <option value="widowed" {% if patient.family_status == 'widowed' %}selected{% endif %}>Widowed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <label class="form-label" for="{{ form.company.id_for_label }}">Company :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="company" class="form-control"
                                                               placeholder="Company" value="{{ patient.company }}">
                                                    </div>
                                                    <label class="form-label" for="{{ form.start_date.id_for_label }}">Start Date :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="date" name="start_date" class="form-control"
                                                               placeholder="Start Date"
                                                               value="{{ patient.start_date |date:'Y-m-d'}}">
                                                    </div>
                                                    <label class="form-label" for="{{ form.department.id_for_label }}">Department :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="department" class="form-control"
                                                               placeholder="Department" value="{{ patient.department }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <label class="form-label" for="{{ form.job_position.id_for_label }}">Job Position :</label>
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="job_position" class="form-control"
                                                               placeholder="Job Position" value="{{ patient.job_position }}">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label class="form-label" for="{{ form.area.id_for_label }}">Area :</label>
                                                        {{form.area}}
                                                    </div>
                                                    <label class="form-label" for="{{ form.photo.id_for_label }}">Photo :</label>
                                                    <div class="form-group mb-5">
                                                        <input type="file" name="photo" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-info">Update</button>
                                                    <button type="reset"  class="btn btn-dark"><a href="{% url 'patients' %}" class="text-white">Reset</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
